@import "../glass/categories/categories.css";
@import "../glass/dashboard/dashboard.css";
@import "../glass/weather-realtime.css";
@import "../shared/alert.css";
@import "../shared/darkMode.css";
@import "../shared/dateInput.css";
@import "../shared/webSocket.css";

#layout{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    font-family: 'Noto Sans KR', sans-serif;
    z-index: -3;
}

